.color-primitive-<%= primitiveName %> {
    color: <%= primitiveFgColor %>;
    background-color: <%= primitiveBgColor %>;
}

.color-primitive-icon-<%= primitiveName %> {
    color: <%= primitiveBgColor %>;
}
