$primary-font: 'Raleway', sans-serif;
$primary-color: #f6f6f6;
$primary-font-color: #000000;
$primary-font-size: 14px;
$primary-hover-font-color: #e9aa1f;
$primary-box-border: 2px;
$primary-box-border-style: solid;
$primary-box-border-color: #f7f7f7;
$primary-box-border-radius: 10px;
$primary-padding: 20px;
$primary-margin: 20px;

$secondary-font-color: #b4b4b4;
$secondary-font-size: 13px;
$secondary-hover-font-color: #f4bb3e;

$large-padding: 50px;

$message-box-color: #f7f7f7;
$message-font-color: #7c7c7c;

$light-font-color: #ffffff;

$header-height: 500px;
