@import './_variables/general.scss';

@mixin primary-text-style {
    color: $primary-font-color;
    font-family: $primary-font;
    font-size: $primary-font-size;
}

@mixin secondary-text-style {
    color: $secondary-font-color;
    font-family: $primary-font;
    font-size: $secondary-font-size;
}

@mixin message-text-style {
    color: $message-font-color;
    font-family: $primary-font;
    text-align: center;
    font-size: $secondary-font-size * 2;
}

@mixin light-text-style {
    color: $light-font-color;
    font-family: $primary-font;
    text-align: center;
}

.primary-text {
    @include primary-text-style;
}

.secondary-text {
    @include secondary-text-style;
}

.light-text {
    @include light-text-style;
}
